@model ResturantBooker.Models.Admin

    <ul class="nav nav-list">
        <li>@Html.ActionLink("Breads",      "AdminBreads",       "Admin", null, new { @class="NoUnderline" })</li>
        <li>@Html.ActionLink("Condiments",  "AdminCondiments",   "Admin", null, new { @class="NoUnderline" })</li>
        <li>@Html.ActionLink("Drinks",      "AdminDrinks",       "Admin", null, new { @class="NoUnderline" })</li>
        <li>@Html.ActionLink("Extras",      "AdminExtras",       "Admin", null, new { @class="NoUnderline" })</li>
        <li>@Html.ActionLink("Fillings",    "AdminFillings",     "Admin", null, new { @class="NoUnderline" })</li>
        <li>@Html.ActionLink("Meals",       "Index",             "Admin", null, new { @class="NoUnderline" })</li>
        <li>@Html.ActionLink("Side Dishes", "AdminSideDishes",   "Admin", null, new { @class="NoUnderline" })</li>
        <li>@Html.ActionLink("Snacks",      "AdminSnacks",       "Admin", null, new { @class="NoUnderline" })</li>
    </ul>                                                                       